/*-- scss:defaults --*/

//font theme
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Fonts
$sarabun: "Sarabun";

// Colors
$cream: #FFFCF7;
$black: #000000;
$green3: #134130FF; 
$green2: #4C825DFF; 
$green1: #9DCCAE; 
$blue1: #8DC7DCFF; 
$blue2: #508CA7FF;
$blue3: #1A5270FF;
$blue4: #0E2A4DFF;
$red: #E31212;
$purple: #B1A1CCFF;


// Base document colors
$navbar-bg: $blue3; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $green1; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $black; // page text 
$footer-bg: $blue3; // footer 
$link-color: $green2; // hyperlinks 

// font size
$title-font-size: 50px;
$normal-font-size: 18px;


 /*-- scss:rules --*/
 
// Inline code
$code-bg: $cream; // inline code background color
$code-color: $red; // inline code text color

// headings
.title { //title for each page
  color: $green3;;
  font-size: $title-font-size;
}

.red_text{
  color: $red;
}

// settings for h1 heading text
h1 { 
  color: $blue2;
  font-weight: 900;
}

.h4 {
  color: $red;
  margin-top: 10.5rem;
}

h3 {
  color: $red;
}


p {
  font-size: $normal-font-size;
  color: $black;
  font-family: Sarabun;
}

// navbar logo
.navbar-brand img { 
  max-height: 40px;
  width: auto;
}

// specifics
.programdate {
  text-align: right;
  # float: right;
  font-size: $normal-font-size;
  font-weight: 300;
  color: $black;
  font-style: italic;
}

.logo {
  align-content: baseline;
  padding: 15px;
}

.intro {
  //backround block with color
  
}