// https://quarto.org/docs/output-formats/html-themes.html
/*-- scss:defaults --*/

//font theme
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Fonts
$sarabun: "Sarabun";

// Colors
$cream: #FFFCF7;
$light-red: #ffe8e8;
$light-gray: #ededed;
$light-purple: #ede3ef;

$gray: #656565;
$black: #000000;
$green3: #134130FF; 
$green2: #4C825DFF; 
$green1: #9DCCAE; 
$blue1: #8DC7DCFF; 
$blue2: #508CA7FF;
$blue3: #1A5270FF;
$blue4: #0E2A4DFF;
$red: #c30000;
$purple: #9a35a9;


// Base document colors
$main-color: $red;
$navbar-bg: $black; // navbar background color
$navbar-fg: $cream; // navbar foreground color
$body-bg: $cream; // page background 
$body-color: $black; // page text color
$footer-bg: $black; // footer background
$footer-fg: $main-color; //footer foreground
$link-color: $main-color; // hyperlinks 

// font characteristics
$title-font-size: 50px;
$normal-font-size: 18px;
$caption-font-size: 16px;
$bigger-font-weight: 500;
$normal-font-weight: 400;


 /*-- scss:rules --*/
 
// Inline code
$code-bg: $cream; // inline code background color
$code-color: $red; // inline code text color

// title banner
#title-block-header.quarto-title-block.default .description {
  color: $cream; //working
  margin-top: 0.5rem !important; // working
}

#title-block-header.quarto-title-block.default .quarto-title .title {
  color: $main-color; //working
}

.title { //title for each page WORKS!
  color: $main-color;
  font-size: $title-font-size;
  margin-bottom: 100rem;
}

// description title, subtitle
.description {
  font-size: 20px;
}

//date published
#title-block-header {
    margin-block-end: 0rem !important;
    position: relative;
    margin-top: -1px;
}

// main blog content chunk
main {
    margin-top: 0em !important;
    margin-bottom: 1em;
}

// font 

.red-text{ // red text
  color: $main-color;
}

.red-bold { // custom bold font
  font-weight: 1000;
  color: $main-color;
}


// photo captions
.caption {
  text-align: center;
  font-size: $caption-font-size;
  font-weight: 300;
  color: $gray;
  font-style: italic;
  padding-top: 0.5em; // or margin-top
  padding-bottom: 0em;
}

.top-padding {
  padding-top: 2em;
}

// settings for heading text (not working)
.h4 {
  color: $red;
}

p.h4 {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

h5, .h5 {
  font-weight: $bigger-font-weight !important;
  line-height: 1.4 !important;
}

.h2 {
  color: $red;
}

b {
  line-height: 1.5 !important;
}

p { //normal text
  font-size: $normal-font-size;
  font-weight: $normal-font-weight;
  color: inherit;
  font-family: Sarabun;
  margin-top: 0rem;
  margin-bottom: 0rem; // currently overriden
}

// navbar 
.navbar-brand img { // navbar logo
  max-height: 40px;
  width: auto;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show { // navbar selected tab color
  color: $red !important;
}

// specifics
.programdate {
  text-align: right;
  float: right;
  font-size: $normal-font-size;
  font-weight: 300;
  color: $black;
  font-style: italic;
  margin-top: 0em;
  margin-bottom: 0em;
}

.logo {
  align-content: baseline;
  padding: 0em;
}

// blocks
.red-block { // backround block with color
  background-color: $light-red;
  padding-block: 2rem; // colored portion block: top/bottom boundaries
  padding-inline: 2rem; // side padding
  margin-bottom: 2rem; // background portion
}

.gray-block { // backround block with color
  background-color: $light-purple;
  padding-block: 2rem; // colored portion block: top/bottom boundaries
  padding-inline: 2rem; // side padding
  margin-bottom: 2rem; // background portion
}

.block-title {
  margin-top: 0rem;
  margin-bottom: 1rem;
}
// footer
footer.footer {
  color: $red;
}

// padding
#no-padding {
  margin-top: 0em;
  margin-bottom: 0em;
}

// resize pdf viewer window
.resize {
  overflow: auto;
  resize: vertical;
  height: 750px;
}

.iframe-style { // pdf viewer window resizer
  overflow: auto;
  width: 100%;
  height: 99%;
  min-height: 100%;
}

// alignment
.center {
  align-content: center;
  align-items: center;
  text-align: center;
}

.rounded-photo {
  border-radius: 50%;
}


// column splitting
.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-content: center;
  align-items: center;
  text-align: center; // only effect
}

.column {
  padding: 10px;
  border: 1px solid #ccc;
  align-content: center;
  align-items: center;
  text-align: center;
}

.one-column {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}